<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9185CVPR7J"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9185CVPR7J');
    </script>
    <meta name="google-site-verification" content="5eQ0TtBNeyjgQHHz-WAHUCnASVMKZxSRyyODrdbgoWs" />
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="description" content="Conversão de texto simples">
    <meta name="keywords" content="Conversor de Texto, Convert Text, Text, Convert, UpperCase, LowerCase, Text Capitalized">
    <meta name="author" content="theLuposki, Toyboys">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
    <script data-ad-client="ca-pub-7621366339285970" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel=preconnect>
    <title>Convert Text - Nunca foi tão facíl converter textos.</title>
  </head>
  <body>
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-7621366339285970">
    </amp-auto-ads>
    <div id="app">
      <div>
        <div class="capa">
          <div class="box">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Anuncio 1 -->
              <ins class="adsbygoogle"
                  style="display:block"
                  data-ad-client="ca-pub-7621366339285970"
                  data-ad-slot="8460073243"
                  data-ad-format="auto"
                  data-full-width-responsive="true"></ins>
              <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            <h1>Convert Text</h1>
            <label class="label-textArea" for="texto">Nunca foi tão facíl converter textos.</label>
            <div class="options">
              <div>
                <input
                  v-model="options"
                  id="options1"
                  type="radio"
                  value="UpperCase"
                />
                <label for="options1">UpperCase</label>
              </div>

              <div>
                <input
                  v-model="options"
                  id="options2"
                  type="radio"
                  value="LowerCase"
                />
                <label for="options2">LowerCase</label>
              </div>

              <div>
                <input
                  v-model="options"
                  id="options3"
                  type="radio"
                  value="Capitalized"
                />
                <label for="options3">Capitalized </label>
              </div>

              <div>
                <input
                  v-model="options"
                  id="options4"
                  type="radio"
                  value="Reverse"
                />
                <label for="options4">Reverse</label>
              </div>
            </div>
            <textarea
            @keyup="saveDataLocalStorage()"
            id="texto"
              v-model="texto"
              placeholder="Digite seu texto aqui."
            ></textarea>
            <button @click="modify()">Modify</button>

            <div class="box-footer">
              <button class="mr-2" @click="clear()">Clear</button>
              <button class="mr-2" @click="copy()">Copy</button>
              <button @click="download()">Download</button>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="session">
            <h2>UpperCase | Caixa alta</h2>
            <p>
              Caixa alta é uma expressão usada em tipografia para referir à
              escrita com letras maiúsculas. É o mesmo que versais ou capitais.
            </p>

            <h2>LowerCase | Caixa baixa</h2>
            <p>Caixa baixa, por sua vez, corresponde à escrita com letras minúsculas. </p>

            <h2>Capitalized | Capitalização</h2>
            <p>Capitalização consiste nas Palavras serem escritas com letras maiúscula na primeira letra e as demais com letras minúsculas. </p>

            <h2>Reverse | Reverso</h2>
            <p>Reverse é seu texto escrito de trás para frente. </p>
          </div>
        </div>
      </div>
    </div>
 
    <script src="js/vue.js"></script>
    <script src="js/FileSaver.js"></script>
    <script src="app.js"></script>
  </body>
</html>
